@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik+Storm&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    width:100%;
    height:100%;
    background-color:#0b0b0b;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:30px;
    flex-direction: column;
}
#logo{
    width:40vh;
}
h1{
    color:white;
    font-family: "Plus Jakarta Sans", sans-serif;

}
#name{
    color:rgb(228, 41, 54);
    font-size: 42px;
}
#va{
    color:rgb(23, 200, 200);
    font-size: 42px;
}
#voice{
    width:200px;
    display:none;
    height:120px;
}
#btn{
    width:30%;
    background: linear-gradient(to right,rgb(90, 164, 204),rgb(177, 27, 157));
    height:35px;
    padding:10px;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: 20px;
    border-radius: 20px;
    color:white;
    box-shadow: 2px 2px 10px rgb(90, 164, 204),2px 2px 10px rgb(177, 27, 157);
    border:none;
    transition:all 0.5s;
    cursor: pointer;
}
#btn:hover{
    box-shadow: 2px 2px 10px rgb(100, 200, 250),2px 2px 10px rgb(215, 50, 258);
    letter-spacing: 2px;

}
